/* Add this to your global CSS file */
body,
html,
#root,
.app-container {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
